<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC_hello:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC_hello_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMVC_hello/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC_hello" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="archive" name="archive.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>